*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", sans-serif;
}
nav 
{
   width: 100%;
    height: 80px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  right: 0;
}
nav img 
{
  height: 38px;
  margin-left:100px;
}
.container 
{
  display: flex;
  gap: 1rem;
  font-size: 16px;
  color:#2c2f59 ;
  font-weight: 500;
}
.item 
{
  cursor: pointer;
  margin-left:30px;
}
.khushi
 {
  display: flex;
  align-items: center;
}
#text 
{
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-left: 250px;
}
#icon 
{
  background: #2c2f59;
  color: #fff;
  padding: 15px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 30px;
}
.login {
  padding: 15px 20px;
  background: #fff;
  border: 1px solid #2c2f59;
  color: #2c2f59;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 350px;

}

.join {
  padding: 15px 20px;
  background: #2c2f59;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  margin-left:30px;
  margin-right: 30px;
}

.section {
  width: 100%;
   display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px 100px;
  background-color:  #fff9f4;
 
}
.momo h1 {
  font-size: 5rem;
  font-weight:500;
  color: #32314c
  margin-left: 60px;
}
.subtitle {
  font-size: 20px;
  color: #32314c;
  margin-top: 40px;
  
}

.momo h4 {
  margin-top: 30px;
  font-size: 16px;
  color:#32314c;
  padding: 10px;
}

#number {
  width: 300px;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid rgb(219, 210, 210);
  font-size: 1rem;
  margin-right: 10px;
}

.button {
   width: 300px;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid rgb(219, 210, 210);
  font-size: 1rem;
  background-color: #32314c;
  color: white;
}
#image {
  width: 30px;
}
.featured{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
  font-size: 1rem;
  color: #32314c;
}
.video iframe {
  width: 180px;
  height: 100px;
  border-radius: 8px;
  margin-top: 20px;
}
.right-content {
  display: flex;
  justify-content: flex-end;
  margin-right:20px;
}

.video2 video {
  width: 1000px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 40px;
}
.base{
  width: 100%;
  height: 100px;
  background-color: #ccc;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.base p{
  font-size: 20px;
}

.section2 {
  width: 100%;
  text-align: center;
  background-color: antiquewhite;
  padding: 50px;

}

.section2 p{
  font-size: 20px;
  color: #2c2f59;
  margin-bottom:30px;
}

.section2 h3 {
  font-size: 30px;
  color: #2c2f59;
  font-weight: 600;
  margin-bottom: 25px;
}

hr {
  width:75%;
  margin: 20px auto;
  border: none;
  border-top: 1px solid #cfcfcf;
}
.solutions-button{
   width: 75%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid rgb(219, 210, 210);
  font-size: 1rem;
  background-color: #32314c;
  color: white;
  margin-top: 20px;
  font-weight: bold;
}
.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  margin:auto;

}

.icon {
  display:flex;
  align-items: flex-start;
   width: 260; 
   padding: 10px;
   text-align: left;
   gap: 15px;
}

.icon i {
  font-size: 38px;
  color: #2c2f59;
  
}

.icon h3 {
 margin: 0;
 padding: 0;
  font-size: 25px;
  color: #2c2f59;
}

.icon p {
  margin-left: 5px;
 color: #2c2f59;
 font-size: 22px;
}

/*section */
.section3 {
  background-color:#d8dfea;
  padding: 30px;
  width: 100%;
  margin-top: 20px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.container3
 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}
.video4 
{
  width:60%;
  border-radius: 12px;
  object-fit: cover;
}
.text2 
{
  text-align: center;
  padding: 20px;
}
.text2 h4 
{
  color:#32314c ;
  margin-bottom: 8px;
  font-weight: 500;
}
.text2 h2
{
  font-weight: 500;
  margin-bottom: 6px;
   color:#32314c ;
}
.text2 p 
{
  color:#32314c ;
  margin-bottom: 30px;
  font-weight: 500;
  padding-top: 10px;
  font-size: small;
}


.icon2 {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
  text-align: left;
}

.icon2 i {
  font-size: 22px;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #d8dfea;
  color: #2b2f6e;
  
}
.info h3 {
  font-size: 17px;
  color: #2b2f6e; ;
  font-weight: 600;
}

.info p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #555;
}
.start-button 
{
  background-color:#2b2f6e;   
  color: #fff;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}


/*section4*/
.memberbenefits {
  padding: 40px 20px;
  text-align: center;
 
}

.memberbenefits h4 {
  margin-bottom: 5px;
  font-size:20px;
  font-weight: normal;
  color: #666;
}

.memberbenefits h2 {
  margin-bottom: 40px;
  font-size: 26px;
  color: #2c2c48;
  font-size:25px;
  font-weight: normal;
}
.container4 {
  width: 100%;
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 60px;
  
  
}
.icon3 {
  display: flex;
  text-align: left;
  width: 30%;          
  gap: 15px;
  
}

.icon3 i {
  font-size: 50px;
  color: #2c2c48;
}
.info2 h3 {
  font-size: 17px;
  font-weight: bold;
  color: #2c2c48;
}
.info2 p {
   font-size: 20px;
  color:#ccc;
  
}
.button-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.join-button {
  background-color: #2b2f6e;
  color: white;
  padding: 14px ;
  width: 60%;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

/*section4 */
.sid {
  background-color: #e9ebee;
  padding: 40px 20px;         
  display: flex;
  justify-content: center;
 }

.container5 
{
 width:100%;
text-align: center;
display: flex;
flex-direction:column;
align-items:center;
gap: 10px;                 
 
}
.container5 h2{ 
 margin-bottom: 5px;
  font-size:20px;
  font-weight: normal;
  color:#555;
}


.container5 h3 {
  margin-bottom: 20px;
  font-size: 26px;
  color:#2c2c48;
  font-size:25px;
  font-weight: 500;
}
.container5 p {
 
  font-size: 15px;
  color: #555;
  width: 750px;            
}
.container5 span {
  color: #0a6db7;              
  font-weight: 600;
  text-decoration: underline;
}



.container6{
  width: 100%;
  text-align: center;
  margin: 40px auto;
}
.container6 h4{
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 30px;
}
.container6 h3{
  font-size: 23px;
  font-weight:normal;
  margin-bottom: 50px;
}
.container6 h5{
  width:600px ;
  margin: auto;
  text-align: left;
  font-weight: bold;
  font-size: 17px;
}
#sid2 {
  width: 350px;
  padding: 12px 14px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #555;
}
.showme {
  background-color: #2b2f6e;
  color: white;
  width: 350px;
  border-radius: 10px;
  padding: 12px 20px;
  margin-left: 10px;
  font-size: 14px;
  cursor: pointer;
}


.container7 img
{ 
  width:200px;
  margin-left: 30px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
 flex-wrap: wrap;
}
.footer h4 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}
.footer ul{

  margin-top: 10px;
  padding-bottom: 20px;
}



.footer li {
  margin-bottom: 5px;
  font-size: 18px;
}


.footer .logo {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-top: 20px;
  font-size:xx-large;
 
}

.footer hr {
  width: 100%;
  
}
.end  {
  font-size: 20px;
  color: #2b2f6e;
  text-align: left;
  margin:0;
padding: 0;
}























